{% extends './basic.html' %}
{% load static %}

{% block script_and_css %}
<link href="{% static 'GenerateCSS\GenerateCSSProperties\StyleSheets\boxShadow.css' %}" rel="stylesheet">
<script src="{% static 'GenerateCSS\GenerateCSSProperties\Scripts\boxShadow.js' %}"></script>
{% endblock %}

{% block title %}Box Shadow{% endblock %}

{% block property_name %}
Box Shaddow
{% endblock %}

{% block property_css %}
<div id="properies_css_container_code_box">
    <div>
        Container
    </div>
</div>
{% endblock %}


{% block property_css_playground %}
<div id="property_css_playground">
    <div>Box Element</div>
</div>
{% endblock %}


{% block property_controles %}
<div id="properties_body_controles_menu">
    <div id="add_btn">+</div>
    <div id="sub_btn">-</div>

    <div id="layer_container">
        <div id="layer1" style="background-color: black; color: white;">Layer1</div>
    </div>
</div>
<div id="properties_body_controles_container">
    <div class="properties_body_controles_child" id="properties_body_controles_child1">
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">X-Offset</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="100" min="-100" type="range" value="0">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Y-Offset</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="100" min="-100" type="range" value="0">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Blur</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="50" min="0" step="0.5" type="range" value="0">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Spread</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="50" min="-50" step="0.5" type="range" value="0">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Color</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" type="color">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Inset</div>
            <div class="css_property_subproperty_value"></div>
            <label for="inset">Inset</label>
            <input id="inset" name="inset" type="checkbox">
        </div>
    </div>
</div>
{% endblock %}