{% extends './basic.html' %}
{% load static %}

{% block script_and_css %}
<link href="{% static 'GenerateCSS\GenerateCSSProperties\StyleSheets\outline.css' %}" rel="stylesheet">
<script src="{% static 'GenerateCSS\GenerateCSSProperties\Scripts\outline.js' %}"></script>
{% endblock %}

{% block title %}Outline{% endblock %}

{% block property_name %}
Outline
{% endblock %}

{% block property_css %}
<div id="properies_css_container_code_box">
    <div>
        Container
    </div>
</div>
{% endblock %}


{% block property_css_playground %}
<div id="property_css_playground">
    <div>Box Element</div>
</div>
{% endblock %}


{% block property_controles %}

<div id="properties_body_controles_container">
    <div class="properties_body_controles_child" id="properties_body_controles_child1">
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Outline Style</div>
            <div class="css_property_subproperty_value"></div>
            <br>
            <select id="selected_unit">
                <optgroup label="Border Style">
                    <option selected value="outset">outset</option>
                    <option value="inset">inset</option>
                    <option value="ridge">ridge</option>
                    <option value="groove">groove</option>
                    <option value="double">double</option>
                    <option value="solid">solid</option>
                    <option value="dashed">dashed</option>
                    <option value="dotted">dotted</option>
                    <option value="hidden">hidden</option>
                </optgroup>
            </select>
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">width</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="50" min="-0" step="0.1" type="range" value="1">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Color</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" type="color">
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Offset</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="50" min="-0" step="0.1" type="range" value="1">
        </div>
    </div>
</div>
{% endblock %}