{% extends './basic.html' %}
{% load static %}

{% block script_and_css %}
<link href="{% static 'GenerateCSS\GenerateCSSProperties\StyleSheets\threeDtransforms.css' %}" rel="stylesheet"/>
<script src="{% static 'GenerateCSS\GenerateCSSProperties\Scripts\threeDtransforms.js' %}"></script>
{% endblock %}

{% block title %}
3D transform
{% endblock %}

{% block property_name %}
3D Transform
{% endblock %}

{% block property_css %}
<div id="properies_css_container_code_box">
    <div>Container</div>
</div>
{% endblock %}

{% block property_css_playground %}
<div id="property_css_playground">
    <div>
        <div>Work Space</div>
    </div>
</div>
{% endblock %}

{% block property_controles %}
<div id="properties_body_controles_container">
    <div class="properties_body_controles_child" id="properties_body_controles_child1">
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Perspective Origin</div>
            <div style="color: red; font-size: x-small; text-align: center; text-decoration: underline;">this is parent
                property, and will be applied to parent element
            </div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="100" min="0" step="0.1" type="range" value="50"/>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="100" min="0" step="0.1" type="range" value="50"/>
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Perspective</div>
            <div style="color: red; font-size: x-small; text-align: center; text-decoration: underline;">this is parent
                property, and will be applied to parent element
            </div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="1000" min="0" step="0.1" type="range" value="200"/>
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Transform Style</div>
            <div style="color: red; font-size: x-small; text-align: center; text-decoration: underline;">this is parent
                property, and will be applied to parent element
            </div>
            <div class="css_property_subproperty_value"></div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="flat" name="TransformStyle"
                       type="radio" value="flat"/>
                <label class="form-check-label" for="flat">flat</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="preserve3d" name="TransformStyle" type="radio"
                       value="preserve-3d"/>
                <label class="form-check-label" for="preserve3d">preserve-3d</label>
            </div>
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Transform Origin</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="100" min="0" step="0.1" type="range" value="50"/>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="100" min="0" step="0.1" type="range" value="50"/>
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Translate</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="250" min="-250" type="range" value="0"/>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="250" min="-250" type="range" value="0"/>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="250" min="-250" type="range" value="0"/>
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Scale</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="5" min="-5" step="0.01" type="range" value="1"/>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="5" min="-5" step="0.01" type="range" value="1"/>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="5" min="-5" step="0.01" type="range" value="1"/>
        </div>
        <div id="css_properties_container">
            <div class="css_property_subproperty_name">Rotate</div>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="180" min="-180" step="0.1" type="range" value="0"/>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="180" min="-180" step="0.1" type="range" value="0"/>
            <div class="css_property_subproperty_value"></div>
            <input class="form-range" id="customRange1" max="180" min="-180" step="0.1" type="range" value="0"/>
        </div>
    </div>
</div>
{% endblock %}