@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Oswald:wght@200&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
#property_css_playground{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    transition-duration: 0.2s;
    width: 70%;
    margin: 0 auto;
}
#property_css_playground > div {
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    /* font-size: x-small !important; */
}
select{
    width: 100%;
    outline: none;
}